    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
    <h1>Login Page</h1>
    <form action="/login" method="post" class="login-form">
      <input type="email" name="email" class="email-input" placeholder="Email">
      <input type="password" name="password" class="password-input" placeholder="Password">
      <input type="submit" value="Login">
    </form>
    </div>
</body>
</html>
