<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="register-page">Register Page</h1>
    <form action="/register" method="post" class="login-form">
      <input type="email" name="email" class="email-input" placeholder="Email">
      <input type="password" name="password" class="password-input" placeholder="Password">
      <input type="submit" value="Register">
    </form>
</body>
</html>
